<!DOCTYPE html>
<html lang="en-US">
   <head>
      <title>WePod</title>
<!--       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="style.css">
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!--       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script> -->      
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<!--       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
 -->      </title>
   </head>
   <body>
      <div id='app'>
         <div class="container">
            <div class = searchPosition v-show="awaitingInput">
               <div class = searchPage >
                  <div class = "logo d-flex justify-content-center">
                     <img src="WePod logo.png">
                  </div>
                  <div class = "row d-flex justify-content-center align-items-start column-gap-20px">
                     <div class="input-group col-sm-7 input-group-lg"> 
                        <!-- SEARCH BAR -->
                        <input type="text" style="width: 700px;" placeholder="Enter a Podcast Name and We'll Find You a Recommendation!" class="form-control shadow-lg p-3 mb-5 bg-white rounded" v-on:keyup.13="pressEnter($event.target.value); $event.target.value=''"> 
                        
                     </div>


                     <div class ="col listResultsLower" v-for="podcast in randomPodcasts_display">
                        <div class="podcast-item">
                           <a :href='podcast["podurl"]' target="_blank" style="color: #FFFFFF; text-decoration: none">
                              <img :src="podcast['image']" class="center-block podcast-image">
                              <div class="podcast-name">
                                 <h1>{{podcast["collectionName"]}}</h1>
                                 <div>
                                    <a :href='podcast["podurl"]' target="_blank"><button class ="btn btn-outline-light"> Listen now </button> </a>
                                 
                                    <a :href='podcast["podurl"]' target="_blank"><img class = streamingImage src="apple.png" ></a>
                                    <a :href='podcast["podurl2"]' target="_blank"><img class = streamingImage src="spotify.png" ></a>
                                 </div>
                                 <div v-if="podcast['genres'].length == 3" style="margin-top: 10px">
                                    <div class="badge rounded-pill bg-primary">{{podcast['genres'][0]}}</div>
                                    <span class="badge rounded-pill bg-success">{{podcast['genres'][1]}}</span>
                                    <span class="badge rounded-pill bg-warning text-dark">{{podcast['genres'][2]}}</span>
                                 </div>
                                 <div v-if="podcast['genres'].length == 2" style="margin-top: 10px">
                                    <div class="badge rounded-pill bg-primary">{{podcast['genres'][0]}}</div>
                                    <span class="badge rounded-pill bg-success">{{podcast['genres'][1]}}</span>
                                 </div>
                                 <div v-if="podcast['genres'].length == 1" style="margin-top: 10px">
                                    <div class="badge rounded-pill bg-primary">{{podcast['genres'][0]}}</div>
                                 </div>
                                 <div v-if="podcast['genres'].length > 3" style="margin-top: 10px">
                                    <div class="badge rounded-pill bg-danger">{{podcast['genres'][0]}}</div>
                                    <span class="badge rounded-pill bg-primary">{{podcast['genres'][1]}}</span>
                                    <span class="badge rounded-pill bg-dark">{{podcast['genres'][2]}}</span>
                                 </div>
                              </div>
                           </a>
                        </div>
                     </div>



                  </div>
                  
               </div>
            </div>
            <div v-show="!awaitingInput">
               <div class = " row d-flex justify-content-center">
                  <div class="input-group col-sm-7 input-group-lg"> 
                     <!-- SEARCH BAR -->
                     <div style="margin-top:25px" v-on:click="awaitingInput=true; userInput=''">
                     <img src="WePod logo.png">
                     </div>
                     <input type="text" style="width: 700px; margin-top:50px;"placeholder="Enter a Podcast Name and We'll Find You a Recommendation!" class="form-control shadow-lg p-3 mb-5 bg-white rounded" v-on:keyup.13="pressEnter($event.target.value); $event.target.value=''"> 
                  </div>
               </div>
            </div>
            <div class ="resultsPage" v-show="!awaitingInput">
               <div class="row align-items-start itemrow">
                  <div>
                     <h1>Recommendations similar to "{{userInput}}"</h1>
                     <div><b>Sort:</b> 
                        <div v-bind:key="renderKey" class="sortItems" v-for="(val,genre) in genreDict">
                           <div v-if="genreDict[genre]==0" v-on:click="genreClick(genre, $event)" id="clickable" class="badge rounded-pill bg-success">{{genre}}</div>
                           <div v-if="genreDict[genre]==1" v-on:click="genreClick(genre, $event)" id="clickable" class="badge rounded-pill bg-warning text-dark">{{genre}}</div>
                        </div>

                     </div>
                  </div>
                  <div class ="col listResults" v-for="podcast in podcastList">
                     <div class="podcast-item">
                        <a :href='podcast["podurl"]' target="_blank" style="color: #FFFFFF; text-decoration: none">
                           <img :src="podcast['image']" class="center-block podcast-image">
                           <div class="podcast-name">
                              <h1>{{podcast["collectionName"]}}</h1>
                              <div>
                                 <a :href='podcast["podurl"]' target="_blank"><button class ="btn btn-outline-light"> Listen now </button> </a>
                              
                                 <a :href='podcast["podurl"]' target="_blank"><img class = streamingImage src="apple.png" ></a>
                                 <a :href='podcast["podurl2"]' target="_blank"><img class = streamingImage src="spotify.png" ></a>
                              </div>
                              <div v-if="podcast['genres'].length == 3" style="margin-top: 10px">
                                 <div class="badge rounded-pill bg-primary">{{podcast['genres'][0]}}</div>
                                 <span class="badge rounded-pill bg-success">{{podcast['genres'][1]}}</span>
                                 <span class="badge rounded-pill bg-warning text-dark">{{podcast['genres'][2]}}</span>
                              </div>
                              <div v-if="podcast['genres'].length == 2" style="margin-top: 10px">
                                 <div class="badge rounded-pill bg-primary">{{podcast['genres'][0]}}</div>
                                 <span class="badge rounded-pill bg-success">{{podcast['genres'][1]}}</span>
                              </div>
                              <div v-if="podcast['genres'].length == 1" style="margin-top: 10px">
                                 <div class="badge rounded-pill bg-primary">{{podcast['genres'][0]}}</div>
                              </div>
                              <div v-if="podcast['genres'].length > 3" style="margin-top: 10px">
                                 <div class="badge rounded-pill bg-danger">{{podcast['genres'][0]}}</div>
                                 <span class="badge rounded-pill bg-primary">{{podcast['genres'][1]}}</span>
                                 <span class="badge rounded-pill bg-dark">{{podcast['genres'][2]}}</span>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="script.js"></script>
   </body>
</html>
